<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<aop:config expose-proxy="true"/>

	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="datasource"/>
	</bean>

	<bean id="datasource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/test_spring?useSSL=false"/>
		<property name="username" value="root"/>
		<property name="password" value="root"/>


		<property name="initialSize" value="1"/>
		<property name="maxActive" value="300"/>
		<property name="maxIdle" value="2"/>
		<property name="minIdle" value="1"/>
	</bean>

	<bean id="userService" class="org.springframework.jdbc.michael.SpringUserServiceImpl">
		<property name="dataSource" ref="datasource"/>
	</bean>

</beans>